@using PopForums.Controllers
@{
    ViewBag.Title = PopForums.Resources.UnsubscribeFail;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.UnsubscribeFail</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li><span class="glyphicon glyphicon-chevron-up"></span> @Html.ActionLink(PopForums.Resources.Forums, "Index", ForumHomeController.Name, null, null)</li>
	</ul>
</div>

<p>@PopForums.Resources.UnsubscribeLinkBad</p>