packages
/.vs/config
/.vs
/*.user
*.user
.idea/.idea.PopForums/.idea
.idea/.idea.PopForums/riderModule.iml

bin
obj
packages

src/PopForums.Web/wwwroot/lib
/src/PopForums.Web/node_modules
/package-lock.json
src/PopForums.Web/package-lock.json
/src/PopForums.Web/Areas/Forums
*.pubxml
node_modules
