packages
/.vs/config
/.vs
/src/PopForums.Web/project.lock.json
/src/PopForums.Sql/project.lock.json
/src/PopForums/project.lock.json
/src/PopForums.Test/project.lock.json
/src/PopForums.AzureKit/project.lock.json
/*.user
*.user
.idea/.idea.PopForums/.idea
.idea/.idea.PopForums/riderModule.iml
