packages
/.vs/config
/.vs
/*.user
*.user
.idea/.idea.PopForums/.idea
.idea/.idea.PopForums/riderModule.iml

bin
obj
packages

src/PopForums.Web/wwwroot/lib/*
src/PopForums.Web/wwwroot/lib/PopForums/dist/*
!src/PopForums.Web/wwwroot/lib/PopForums
/src/PopForums.Web/node_modules
/src/PopForums.Web/Areas/Forums
*.pubxml
node_modules
src/PopForums.AzureKit.Functions/Properties/ServiceDependencies
src/PopForums.Web/package-lock.json
