<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="pi-prerelease" value="https://www.myget.org/F/popidentity/api/v3/index.json" />
	</packageSources>
	<disabledPackageSources>
		<add key="prerelease" value="true" />
	</disabledPackageSources>
	<packageSourceCredentials>
	</packageSourceCredentials>
</configuration>