<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="prerelease" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json" />
		<add key="imageprocessor" value="https://www.myget.org/F/imageprocessor/api/v3/index.json" />
	</packageSources>
	<disabledPackageSources />
	<packageSourceCredentials>
	</packageSourceCredentials>
</configuration>