@{
	ViewBag.Title = PopForums.Resources.EditAccount;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<h1>@PopForums.Resources.EditAccount</h1>
<ul id="TopBreadcrumb" class="breadcrumb">
	<li class="breadcrumb-item"><a asp-controller="@HomeController.Name" asp-action="Index">@PopForums.Resources.Forums</a></li>
</ul>

<p>@PopForums.Resources.MustBeRegisteredToEditAccount</p>
