@using PopForums
@model string
@inject ISettingsManager SettingsManager

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>@Resources.Login</title>
	<link href="~/PopForums/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
<div class="vh-100 vw-100 p-5 d-flex flex-column justify-content-center">
	<h1 class="mx-auto mb-3">@SettingsManager.Current.ForumTitle</h1>
	<div class="alert alert-primary d-flex justify-content-center">
		<a href="@Model" class="btn btn-primary">@Resources.Login</a>
	</div>
</div>
</body>
</html>