#ForumContainer h1, #ForumContainer h2, #ForumContainer h3, #ForumContainer h4, #ForumContainer #AccountBox, #ForumContainer tr.category td, #ForumContainer .forumStatData, #ForumContainer .lastEdit, #ForumContainer .breadcrumb, #ForumContainer .postUserData, #ForumContainer .postTools, #ForumContainer .pagerLinks, #ForumContainer .voteCount, #ForumContainer .activityFeedEvent, #ForumContainer .awardTitle, #ForumContainer #TopBreadcrumb p, #ForumContainer .ui-tabs-anchor {
	font-family: 'Segoe UI', Helvetica, 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

#ForumContainer, #tinymce {
	font-family: Georgia, Times New Roman, Serif;
	font-size: 16px;
	line-height: 22px;
	background-color: #ffffff;
}

#ForumContainer h1 { font-size: 140%; }
#ForumContainer h2 { font-size: 120%; }
#ForumContainer h3 { font-size: 100%; }
#ForumContainer h4 { font-size: 80%; }
#ForumContainer h1, #ForumContainer h2, #ForumContainer h3, #ForumContainer h4 {
	font-weight: normal;
}

#ForumContainer a, #ForumContainer a:visited { color: #3b7157; }
#ForumContainer a:hover { color: #6acb9c; }

#ForumContainer #AccountBox {
	font-size: 15px;
	text-align: right;
}

#ForumContainer .forumGrid, #ForumContainer .postItem {
	margin-bottom: 20px;
}

#ForumContainer tr.category td {
	background-color: #379769; color: White;
	font-size: 110%; font-weight: normal; letter-spacing: 1px;
}

#ForumContainer .forumStatData, #ForumContainer .lastEdit {
	text-align: right;
	color: #7a7a7a;
	font-size: 12px;
}

#ForumContainer .forumDescription {
	margin: 0 10px; font-size: 15px;
}

#ForumContainer .warning, #ForumContainer .field-validation-error {
	color: Red; font-weight: bold;
}

#ForumContainer .breadcrumb {
	margin-bottom: 2px; font-size: 14px;
}

#ForumContainer .postItem {
	margin-bottom: 20px;
	min-height: 150px; overflow: hidden;
}

#ForumContainer .postItem blockquote {
	background-color: White; background-repeat: no-repeat; background-image: url(quotebg.jpg);
	color: Black; padding: 10px 10px 10px 80px; border-left: solid 3px #dedede;
	margin: 10px 100px 10px 20px;
}

#ForumContainer .postUserData {
	margin-bottom: 10px; padding: 5px;
	color: White; background-color: #379769;
}
#ForumContainer .postUserData a { color: White; }
#ForumContainer .postUserData p { margin: 0 !important; }

#ForumContainer .postTools {
	margin: 10px 10px 0 70px; padding-top: 4px;
	border-top: solid 1px black; min-height: 30px;
	font-size: 12px;
}

#ForumContainer .postTime {
	float: right;
	font-size: 12px;
}

#ForumContainer .pagerLinks {
	font-size: 14px; font-weight: bold;
}
#ForumContainer .pagerLinks a, #ForumContainer .pagerLinks a:visited, #ForumContainer .pagerLinks a:hover {
	background-color: #379769; color: White;
	text-decoration: none; margin: 1px; padding: 2px 6px;
}
#ForumContainer .morePager, #ForumContainer .currentPager {
	margin: 1px; padding: 2px 6px;
	background-color: #bcbcbc;
}

#ForumContainer .miniProfile {
	background-color: #cdcdcd;
	border: 1px solid #379769;
	padding: 10px 20px;
	font-size: 12px;
}

#ForumContainer td.topicListButton {
	width: 120px;
	text-align: center;
}

#ForumContainer td.newIndicator {
	width: 34px; vertical-align: top;
}
#ForumContainer td.newIndicator img {
	border: 0;
}

#ForumContainer .deletedItem {
	background-color: #ff9b9b;
}

#ForumContainer #ForumFooter {
	font-size: 11px;
	margin: 20px 0;
}

#ForumContainer img.avatar {
	float: right; margin: 10px 0 0 10px;
}

#ForumContainer tr.stripe {
	background-color: #efefef;
}

#ForumContainer table.account, #ForumContainer table.profile {
	width: 450px;
	margin-bottom: 20px;
}

#ForumContainer table.account input[type="text"], #ForumContainer table.account input[type="password"], #ForumContainer table.account textarea {
	width: 250px;
}
#ForumContainer table.account textarea {
	width: 250px; height: 150px;
}

#ForumContainer div.userPhoto {
	text-align: center;
}

#ForumContainer .moderationLog {
	background-color: #dcdcdc; display: none;
	border: 1px solid black;
}

#ForumContainer #ModeratorPanel {
	margin: 20px 0;padding: 10px;background-color: #cdcdcd;
}
#ForumContainer #ModeratorPanel input[type=text], #ForumContainer #ModeratorPanel select {
	width: 300px;
}

#ForumContainer .topicPreview {
	height: 300px; padding: 15px;
	display: none; overflow: scroll;
	border: 1px solid black;
}
#ForumContainer .topicPreviewButton { cursor: pointer; }

#ForumContainer .toolButton {
	margin: 15px 10px 5px 0;
	width: 150px; font-size: 12px;
}

.mceToolbar tr td {
	padding: 0 !important;
}

#ForumContainer .autoItem { padding: 4px; margin-right: 4px; background-color: #eee; }
#ForumContainer #ToContainer { height: 24px; vertical-align: middle; }
#ForumContainer #ToText { width: 200px; border: none; height: 22px; font-size: 14px; }
#ForumContainer #PMToBox { border: 1px solid #ccc; height: 28px; padding: 2px; }

#ForumContainer td.label { vertical-align: top; }

#ForumContainer #TOS { width: 95%; height: 120px; }

#ForumContainer .morePostsButton, #ForumContainer .previousPostsButton { width: 250px; margin: 10px 0; }

#ForumContainer .postImage { max-width: 600px; margin: 10px; }

#ForumContainer .voteCount { padding: 3px; background-color: #379769; color: White; margin: 2px 0; cursor: pointer;
			font-size: 12px; text-align: center;position: absolute; height: auto; min-width: 50px; }
#ForumContainer .voters { max-height: 120px; width: 200px; overflow: auto; background-color: Black; position: relative; display: none; padding: 2px 4px; text-align: left; }
#ForumContainer .voteUp { cursor: pointer; text-decoration: underline; color: #3b7157; }
#ForumContainer .voters li { list-style: none; } #ForumContainer .voters li a, #ForumContainer .voters li a:visited { color: White; }

#ForumContainer .activityFeedEvent {
	background-color: #efefef;
	margin-bottom: 20px; padding: 10px 10px 0 10px; min-height: 50px;
}
#ForumContainer .activityFeedPoints {
	font-size: 50px;text-align: center;
	width: 100px;float: left;margin-top: 7px;
}
#ForumContainer .activityFeedMessage {
	margin-top: 7px;margin-left: 120px;
}

#ForumContainer .userAward {
	height: 80px;width: 275px;float: left;
	background-color: #efefef;
	padding: 10px;margin-bottom: 20px;margin-right: 20px;
}
#ForumContainer .awardTitle {
	font-size: 20px;margin-bottom: 4px;
}

#ForumContainer #TopicTemplate, #ForumContainer #ActivityFeedTemplate {
	display: none;
}

#ForumContainer #TopBreadcrumb {
	color: white;
	background-color: #379769;
	-webkit-box-shadow: 0 4px 2px -2px #000;
	box-shadow: 0 4px 2px -2px #000;
	margin-bottom: 10px;
}
#ForumContainer #TopBreadcrumb a, #ForumContainer #TopBreadcrumb a:visited {
	color: white;
}
#ForumContainer #TopBreadcrumb p {
	padding: 0 10px 5px 20px;font-size: 11px;margin-bottom: 0;
}
#ForumContainer #TopBreadcrumb h1 {
	padding: 5px 10px 0 20px;margin-bottom: 0;
}


.ui-tabs-nav { margin: 10px 0; }
.ui-tabs-nav li { float: left;list-style: none;margin: 10px 20px 10px 0;}
.ui-widget-content.ui-tabs, .ui-widget-content.ui-tabs-panel { background-color: #fff;clear: both;}
.ui-widget-content { background-color: #eeeeee; }
.ui-widget-content .ui-tabs-nav a { color: #000; padding: 2px; display: block;padding: 10px 15px; }
#ForumContainer .ui-widget-content .ui-tabs-nav a:hover, .ui-widget-content .ui-menu-item a:hover { color: #fff; background-color: #379769 }
.ui-menu { list-style: none; padding: 2px; float: left; }
.ui-menu-item { margin: 2px; cursor: pointer; }
