<!DOCTYPE html>

<html>
<head>
	<title>@PopForums.Resources.PopForumsSetup - @PopForums.Resources.NoDataConnection</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<h1>@PopForums.Resources.PopForumsSetup</h1>

		<p>@PopForums.Resources.SetupCantConnect</p>
	</div>
</body>
</html>