@{
    ViewBag.PageTitle = PopForums.Resources.AddForum;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h2>@PopForums.Resources.AddForum</h2>

@using(Html.BeginForm()) {
	<div class="form-horizontal" role="form">
		@Html.Partial("ForumForm")
		<div class="form-group">
			<div class="col-sm-push-2 col-sm-10">
				<input type="submit" value="@PopForums.Resources.AddForum" class="btn" />
			</div>
		</div>
	</div>
}
