@{
	ViewBag.PageTitle = PopForums.Resources.EmailUsers;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.EmailUsers</h1>

<p class="bg-warning callout">@PopForums.Resources.EmailUsersQueued</p>