@{
    ViewBag.PageTitle = PopForums.Resources.ScoringGame;
    Layout = "~/Areas/PopForums/Views/Admin/AdminMaster.cshtml";
}

<h1>@PopForums.Resources.ScoringGame</h1>

@using (Html.BeginForm()) {
	<div role="form">
		<div class="form-group">
			<label>Interval (@PopForums.Resources.Millseconds)</label>
			@Html.TextBox("ScoringGameCalculatorInterval", ViewData["Interval"], new { @class = "form-control" })
		</div>
		<input type="submit" value="@PopForums.Resources.Save" class="btn btn-primary" />
	</div>
}