<!DOCTYPE html>

<html>
<head>
    <title>@PopForums.Resources.PopForumsSetup - @PopForums.Resources.NoDataConnection</title>
	<link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>@PopForums.Resources.PopForumsSetup</h1>

	<p>@PopForums.Resources.SetupCantConnect</p>
</body>
</html>
