
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index2</title>
	<script src="~/lib/vue/dist/vue.js"></script>
	<script src="~/lib/vue-router/dist/vue-router.min.js"></script>
	<script src="~/lib/popper.js/dist/popper.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div id="app">
			<h1>Hello App!</h1>
			<p>
				<router-link to="/foo">Go to Foo</router-link>
				<router-link to="/categories">Categories</router-link>
			</p>

			<router-view></router-view>
		</div>
	</div>
<script>

	const Foo = { template: '#foo' }

	const Categories = {
		template: '#Categories',
		data() { return {
			categories: [] }
		},
		mounted: function () {
			$.get('../../adminapi/getcategories', response =>
			{
				this.categories = response;
			});
		},
		methods: {
			saveNew: function(event) {
				alert("boo!");
			}
		}
	}

	const routes = [
		{ path: '/foo', component: Foo },
		{ path: '/Categories', component: Categories }
	];

	const router = new VueRouter({
		routes: routes,
		mode: 'history',
		base: '/forums/admin/index2/'
	});

	const app = new Vue({
		router
	}).$mount('#app');

	Vue.config.devtools = true;

</script>

<script type="x-templates" id="foo">
	<main>
		<div>foo</div>
	</main>
</script>

<script type="x-templates" id="Categories">
	<main>
		<div class="form-inline">
			<input type="text" name="newCategoryTitle" class="form-control" />
			<input type="button" v-on:click="saveNew" value="@PopForums.Resources.AddNew" class="btn btn-primary" />
		</div>
		<table class="table">
			<tr v-for="category in categories">
				<td>{{category.title}}</td>
				<td><input type="button" value="@PopForums.Resources.Edit" class="btn btn-primary" /></td>
				<td><input type="button" value="@PopForums.Resources.Delete" class="btn btn-primary" /></td>
			</tr>
		</table>
	</main>
</script>

</body>
</html>
