@{
    ViewData["Title"] = "Home Page";
}

<p><a href="/Forums">forums</a></p>

<p>user: @User.Identity.Name</p>

<p>@Html.ActionLink("login", "Login")</p>

<p>@Html.ActionLink("logout", "Logout")</p>