@model List<PopForums.Models.FeedEvent>

@{
	ViewBag.Title = PopForums.Resources.ActivityFeed;
	Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

<ul class="pf-list pf-container">
	<li class="pf-list-item">
		<a href="@Url.Action("Index", PopForums.Controllers.ForumHomeController.Name)" class="pf-indicator-list-link">
			<div class="pf-back"> </div>
			<span class="pf-heading">@PopForums.Resources.ForumHome</span>
		</a>
	</li>
	@foreach (var item in Model)
	{
		<li class="pf-list-item">
			@Html.Raw(item.Message)
		</li>
	}
</ul>