@{
	ViewBag.Title = PopForums.Resources.PageNotFound;
    Layout = "~/Areas/Forums/Views/Shared/PopForumsMaster.cshtml";
}

<div>
	<h1>@PopForums.Resources.PageNotFound</h1>
	<ul id="TopBreadcrumb" class="breadcrumb">
		<li>@Html.ActionLink(PopForums.Resources.Forums, "Index", HomeController.Name, null, null)</li>
	</ul>
</div>