@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderContent {
	<environment include="Development">
		<script src="~/lib/signalr/dist/signalr.js"></script>
		<script src="~/lib/PopForums/src/PopForums.js"></script>
		<link href="~/lib/PopForums/src/PopForums.css" rel="stylesheet" />
	</environment>
	<environment exclude="Development">
		<script src="~/lib/signalr/dist/signalr.min.js"></script>
		<script src="~/lib/PopForums/dist/PopForums.min.js"></script>
		<link href="~/lib/PopForums/dist/PopForums.min.css" rel="stylesheet" />
	</environment>
	@RenderSection("HeaderContent", required: false)
}

<div id="ForumContainer" class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#AccountBox" aria-controls="AccountBox" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="AccountBox" class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto">
				@await Component.InvokeAsync("UserNavigation")
			</ul>
			@using (Html.BeginForm("Result", SearchController.Name, FormMethod.Post, new Dictionary<string, object> { { "class", "form-inline" }, { "role", "search" } }))
			{
				<div class="mx-2">
					<input type="search" class="form-control" placeholder="Search" id="query" name="query">
				</div>
			}
		</div>
	</nav>
	<div class="row">
		<div class="col-12">
			@RenderBody()
		</div>
	</div>
	<div class="row">
		<div id="ForumFooter" class="col-12 mt-3">
			<small><a href="http://popforums.com/">POP Forums</a> - &copy;@DateTime.Now.Year, POP World Media, LLC</small>
		</div>
	</div>
</div>