@inject IConfig Config
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderContent {
	<environment include="Development">
    @if (Config.RenderBootstrap)
    {
            <script src="~/PopForums/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
            <link href="~/PopForums/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    }
        <script src="~/PopForums/lib/signalr/dist/signalr.js" asp-append-version="true"></script>
        <script src="~/PopForums/PopForums.js" asp-append-version="true"></script>
        <link href="~/PopForums/PopForums.css" rel="stylesheet" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
    @if (Config.RenderBootstrap)
    {
            <script src="~/PopForums/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
            <link href="~/PopForums/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    }
        <script src="~/PopForums/lib/signalr/dist/signalr.min.js" asp-append-version="true"></script>
        <script src="~/PopForums/lib/PopForums/dist/PopForums.min.js" asp-append-version="true"></script>
        <link href="~/PopForums/lib/PopForums/dist/PopForums.min.css" rel="stylesheet" asp-append-version="true" />
	</environment>
	@await RenderSectionAsync("HeaderContent", required: false)
	@await Component.InvokeAsync("UserState")
}

<div id="ForumContainer" class="container-fluid">

	@await Component.InvokeAsync("UserNavigation")

	<div class="row">
		<div class="col-12">
			@RenderBody()
		</div>
	</div>

	<div class="row">
		<div id="ForumFooter" class="col-12 mt-3">
			<small><a href="https://popforums.com/">POP Forums</a> - &copy;@DateTime.Now.Year, POP World Media, LLC</small>
		</div>
	</div>
</div>