@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderContent {
	<environment include="Development">
        <script src="~/_content/PopForums.Mvc/lib/signalr/dist/signalr.js" asp-append-version="true"></script>
        <script src="~/_content/PopForums.Mvc/PopForums.js" asp-append-version="true"></script>
        <link href="~/_content/PopForums.Mvc/PopForums.css" rel="stylesheet" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<script src="~/_content/PopForums.Mvc/lib/signalr/dist/signalr.min.js" asp-append-version="true"></script>
        <script src="~/_content/PopForums.Mvc/lib/PopForums/dist/PopForums.min.js" asp-append-version="true"></script>
        <link href="~/_content/PopForums.Mvc/lib/PopForums/dist/PopForums.min.css" rel="stylesheet" asp-append-version="true" />
	</environment>
	@RenderSection("HeaderContent", required: false)
	@await Component.InvokeAsync("UserState")
}

<div id="ForumContainer" class="container-fluid">

	@await Component.InvokeAsync("UserNavigation")

	<div class="row">
		<div class="col-12">
			@RenderBody()
		</div>
	</div>

	<div class="row">
		<div id="ForumFooter" class="col-12 mt-3">
			<small><a href="https://popforums.com/">POP Forums</a> - &copy;@DateTime.Now.Year, POP World Media, LLC</small>
		</div>
	</div>
</div>