@{
    ViewData["Title"] = "Home Page";
}

<p><a href="/Forums">forums</a></p>

<p>
	PopForums - v@(System.Reflection.Assembly.Load("PopForums").GetName().Version)<br />
	PopForums.Sql - v@(System.Reflection.Assembly.Load("PopForums.Sql").GetName().Version)<br />
	PopForums.Mvc - v@(System.Reflection.Assembly.Load("PopForums.Mvc").GetName().Version)<br />
	PopForums.Web - v@(System.Reflection.Assembly.Load("PopForums.Web").GetName().Version)<br />
</p>