<!DOCTYPE html>

<html>
<head>
    @RenderSection("HeaderContent", required: false)
</head>
<body>

<div style="width:1000px; margin-left: auto;margin-right: auto;">
	@RenderBody()
</div>

</body>
</html>
