<!DOCTYPE html>

<html>
<head>
	<title>@ViewBag.Title</title>
	<script src="~/Scripts/jquery-2.1.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
	<script src="~/signalr/hubs" type="text/javascript"></script>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   	@RenderSection("HeaderContent", required: false)
</head>
<body>

<div class="container">
	@RenderBody()
</div>

</body>
</html>
