@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}

<h1>Pop</h1>

<p>@User.Identity.Name</p>

<p><a href="/Pop/Login">Login</a></p>