@{
	ViewBag.Title = PopForums.Resources.Forbidden;
    Layout = "~/Areas/PopForums/Views/Shared/PopForumsMaster.cshtml";
}

<p class="breadcrumb">@Html.ActionLink("Forums", "Index", PopForums.Controllers.ForumHomeController.Name, null, null)</p>

<h1>@PopForums.Resources.Forbidden</h1>

